Introduction to Data Science
Homework-01

Q1)

In [1]:
# a
import pandas as pd
loan_data = pd.read_csv('loan.csv')

print(loan_data.head())
print(loan_data.info())
print(loan_data.describe())

    Loan_ID Gender Married Dependents     Education Self_Employed  \
0  LP001002   Male      No          0      Graduate            No
1  LP001003   Male     Yes          1      Graduate            No
2  LP001005   Male     Yes          0      Graduate           Yes
3  LP001006   Male     Yes          0  Not Graduate            No
4  LP001008   Male      No          0      Graduate            No

   ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0             5849                0.0         NaN             360.0
1             4583             1508.0       128.0             360.0
2             3000                0.0        66.0             360.0
3             2583             2358.0       120.0             360.0
4             6000                0.0       141.0             360.0

   Credit_History Property_Area Loan_Status
0             1.0         Urban           Y
1             1.0         Rural           N
2             1.0         Urban           Y
3             1.0         Urban           Y
4             1.0         Urban           Y
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB
None
       ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
count       614.000000         614.000000  592.000000         600.00000
mean       5403.459283        1621.245798  146.412162         342.00000
std        6109.041673        2926.248369   85.587325          65.12041
min         150.000000           0.000000    9.000000          12.00000
25%        2877.500000           0.000000  100.000000         360.00000
50%        3812.500000        1188.500000  128.000000         360.00000
75%        5795.000000        2297.250000  168.000000         360.00000
max       81000.000000       41667.000000  700.000000         480.00000

       Credit_History
count      564.000000
mean         0.842199
std          0.364878
min          0.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          1.000000

# b.

1)	Missing at Random (MAR): The missing values depend on other observed values such as income may be missing for some people because they are unemployed.

2)	Missing Completely at Random (MCAR): The missing values are unrelated to other observed or unobserved values such as data entry errors.

3)	Missing Not at Random (MNAR): The missing values depend on unobserved values such as people with high debt may not report their debt.

In [2]:
# c.
missing_values = loan_data.isna().sum()
total_missing_values = missing_values.sum()
print(missing_values)
print("Total missing values:", total_missing_values)

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64
Total missing values: 149

# d.
1)	Deletion: Remove rows or columns with missing values.
2)	Imputation: Fill missing values with estimates based on other available data.
3)	Model-based methods: Use statistical models to account for missing data during analysis.

In [3]:
# e
from sklearn.impute import SimpleImputer
import numpy as np

# Separate numeric and categorical columns
numeric_columns = loan_data.select_dtypes(include=np.number).columns
categorical_columns = loan_data.select_dtypes(exclude=np.number).columns

# Imputing missing values for numeric columns:
# Mean imputation
mean_imputer = SimpleImputer(strategy='mean')
loan_data_mean = loan_data.copy()
loan_data_mean[numeric_columns] = mean_imputer.fit_transform(loan_data_mean[numeric_columns])


# Median imputation
median_imputer = SimpleImputer(strategy='median')
loan_data_median = loan_data.copy()
loan_data_median[numeric_columns] = median_imputer.fit_transform(loan_data_median[numeric_columns])


# Imputing missing values for categorical columns
# mode
mode_imputer = SimpleImputer(strategy='most_frequent')
loan_data_mode = loan_data.copy()
loan_data_mode[categorical_columns] = mode_imputer.fit_transform(loan_data_mode[categorical_columns])

# constant or unknown
constant_imputer = SimpleImputer(strategy='constant', fill_value='Unknown')
loan_data_constant = loan_data.copy()
loan_data_constant[categorical_columns] = constant_imputer.fit_transform(loan_data_constant[categorical_columns])

print("Original dataset:\n", loan_data)
print("Mean imputed dataset:\n", loan_data_mean)
print("Median imputed dataset:\n", loan_data_median)
print("Mode imputed dataset:\n", loan_data_mode)
print("Constant imputed dataset:\n", loan_data_constant)

Original dataset:
       Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
..        ...     ...     ...        ...           ...           ...
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
..              ...           ...         ...
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y
613             0.0     Semiurban           N

[614 rows x 13 columns]
Mean imputed dataset:
       Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
..        ...     ...     ...        ...           ...           ...
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0             5849.0                0.0  146.412162             360.0
1             4583.0             1508.0  128.000000             360.0
2             3000.0                0.0   66.000000             360.0
3             2583.0             2358.0  120.000000             360.0
4             6000.0                0.0  141.000000             360.0
..               ...                ...         ...               ...
609           2900.0                0.0   71.000000             360.0
610           4106.0                0.0   40.000000             180.0
611           8072.0              240.0  253.000000             360.0
612           7583.0                0.0  187.000000             360.0
613           4583.0                0.0  133.000000             360.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
..              ...           ...         ...
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y
613             0.0     Semiurban           N

[614 rows x 13 columns]
Median imputed dataset:
       Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
..        ...     ...     ...        ...           ...           ...
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0             5849.0                0.0       128.0             360.0
1             4583.0             1508.0       128.0             360.0
2             3000.0                0.0        66.0             360.0
3             2583.0             2358.0       120.0             360.0
4             6000.0                0.0       141.0             360.0
..               ...                ...         ...               ...
609           2900.0                0.0        71.0             360.0
610           4106.0                0.0        40.0             180.0
611           8072.0              240.0       253.0             360.0
612           7583.0                0.0       187.0             360.0
613           4583.0                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
..              ...           ...         ...
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y
613             0.0     Semiurban           N

[614 rows x 13 columns]
Mode imputed dataset:
       Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
..        ...     ...     ...        ...           ...           ...
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
..              ...           ...         ...
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y
613             0.0     Semiurban           N

[614 rows x 13 columns]
Constant imputed dataset:
       Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
..        ...     ...     ...        ...           ...           ...
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
..              ...           ...         ...
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y
613             0.0     Semiurban           N

[614 rows x 13 columns]

Q2. A model becomes unidentifiable when it is impossible to determine unique predictions for some of its parameters, even with an infinite amount of data. This typically occurs in situations where it has too many parameters compared to the amount of available data.

Ways of Handling:

1- Regularization such as Lasso (L1) and Ridge (L2) regularization.
2- Obtaining more data.
3- Reducing the number of parameters.
4- Transforming variablessuch as through scaling, centering, or applying mathematical functions like log or square root which can help resolve multicollinearity and improve model identifiability.
5- Using a simpler model.
6- Combining correlated variables using techniques like PCA.

In [4]:
# Q3

# Making the dataset standard
import numpy as np
from sklearn.preprocessing import StandardScaler

X = np.array([[2.8, 2.7],
              [0.8, 0.7],
              [1.5, 1.3],
              [3.0, 3.3],
              [2.2, 1.9],
              [1.1, 0.8],
              [2.0, 1.7]])

scaler = StandardScaler()
X_standardized = scaler.fit_transform(X)


# covariance matrix
cov_matrix = np.cov(X_standardized.T)
eigenvalues, eigenvectors = np.linalg.eig(cov_matrix) # eigenvalues and eigenvectors


# Sort Desc
sorted_indices = np.argsort(eigenvalues)[::-1]
eigenvalues_sorted = eigenvalues[sorted_indices]
eigenvectors_sorted = eigenvectors[:, sorted_indices]


# we only have 2 variables
k = 2
principal_components = eigenvectors_sorted[:, :k]

# results
print("Principal Components:\n", principal_components)

# projecting the original standard data onto the new principal component axes
X_projected = np.dot(X_standardized, principal_components)
print("Projected Data:\n", X_projected)

Principal Components:
 [[ 0.70710678 -0.70710678]
 [ 0.70710678  0.70710678]]
Projected Data:
 [[ 1.55395282 -0.07706147]
 [-1.8780133   0.1739079 ]
 [-0.75635008  0.0065437 ]
 [ 2.21524911  0.21594127]
 [ 0.36531314 -0.1608205 ]
 [-1.52226822 -0.02278734]
 [ 0.02211653 -0.13572356]]

In [5]:
# Q4.
# a.
# CensusIncome Dataset from UCI Machine Learning Repository: It has about 32561 records and a mix of categorical and continuous features.
# b.
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.compose import ColumnTransformer
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LassoCV
from sklearn.model_selection import train_test_split

#load the dataset
data_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"
column_names = ['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'target']
dataset = pd.read_csv(data_url, names=column_names)

# Preprocessing: Separate target variable and drop it from the dataset
target = dataset['target']
dataset = dataset.drop(columns=['target'])

# Encode the target variable
le = LabelEncoder()
target_encoded = le.fit_transform(target)

# identify categorical columns
categorical_columns = dataset.select_dtypes(include='object').columns

# one-hot encoding for categorical features
preprocessor = ColumnTransformer(transformers=[('cat', OneHotEncoder(handle_unknown='ignore'), categorical_columns)], remainder='passthrough')
X_transformed = preprocessor.fit_transform(dataset)

# Feature selection with Lasso
X_train, X_test, y_train, y_test = train_test_split(X_transformed, target_encoded, test_size=0.2, random_state=42)
lasso = LassoCV(cv=5, random_state=42).fit(X_train, y_train)

# Get the top 10 features
coef = lasso.coef_
top_10_features = np.argsort(np.abs(coef))[-10:]
print("Top 10 features (index):", top_10_features)

Top 10 features (index): [ 31  30  29  28  38 103 105 106 107 102]

c.
In the presented solution, we use the Census Income Dataset as an example to demonstrate feature selection in a large-scale dataset with categorical variables. The approach aims to handle mixed data types by preprocessing categorical data using one-hot encoding, which is a necessary step as PCA and Lasso methods cannot directly handle categorical data.

We employ Lasso regularization for feature selection since it's more suitable for a mix of categorical and continuous features, as opposed to PCA which is generally more appropriate for continuous data. After preprocessing the dataset and applying one-hot encoding, we split it into training and testing sets and train a LassoCV model with 5-fold cross-validation on the training set.

Once the model is trained, we identify the top 10 features with the highest absolute coefficients, indicating the strongest correlation with the target variable. The solution focuses on implementing a pipeline for preprocessing and feature selection in large-scale datasets with mixed data types, using Lasso regularization as the primary technique for dimensionality reduction and feature selection.

Q5) The typical Data Science process is often referred to as the "Cross-Industry Standard Process for Data Mining" (CRISP-DM). It consists of the following six stages:

1. Business Understanding
2. Data Understanding
3. Data Preparation
4. Modeling
5. Evaluation
6. Deployment

![Alt text](drawings.png)

Explanation:
*) Business Understanding: This initial phase focuses on understanding the project's objectives, requirements, and the problem domain. It involves close collaboration with stakeholders and domain experts to identify the goals and define the scope of the project.
*) Data Understanding: In this phase, data scientists explore and familiarize themselves with the available data. They assess the quality of the data, its relevance to the problem, and any potential issues that might require further attention during data preparation.
*) Data Preparation: This stage involves cleaning, preprocessing, and transforming the data to make it suitable for analysis and modeling. Typical tasks include handling missing values, encoding categorical variables, feature engineering, and data normalization or scaling.
*) Modeling: During this phase, data scientists develop and train various machine learning or statistical models using the prepared data. They select appropriate algorithms, configure their parameters, and evaluate the performance of each model to find the one that best fits the problem.
*) Evaluation: In this stage, the chosen models are rigorously evaluated using various metrics to ensure their quality, reliability, and suitability for addressing the business objectives. This phase helps determine if the models are meeting the desired performance criteria or if further refinement is needed.
*) Deployment: Once the models have been evaluated and deemed satisfactory, they are deployed into production environments to generate insights, make predictions, or inform decision-making processes. The deployment phase also includes monitoring the performance of the models and updating them as needed.
In fact, its process is iterative, and it is common to revisit earlier stages as new insights are gained or requirements change. Each project may have unique requirements and may require adaptation or customization of the process to best fit the specific problem domain.

Q6.
a. Problem Statement:
Predicting the severity of road accidents to enable better emergency response and reduce fatalities.

Road accidents are a major concern in urban areas, often resulting in severe injuries or fatalities. The severity of these accidents depends on various factors, such as weather conditions, road conditions, speed, and time of day. Predicting the severity of road accidents can help emergency responders allocate resources more efficiently, potentially saving lives and reducing the impact of accidents on traffic flow.

b. Dataset:
The dataset used for this problem is the "US Accidents" dataset available on Kaggle (https://www.kaggle.com/sobhanmoosavi/us-accidents). This dataset contains information about 3 million road accidents in the United States from 2016 to 2020. It includes various features such as location, time, weather conditions, and road conditions.

c. Sample data:

ID    Source     TMC      Severity     Start_Time             End_Time              ...
A-1   MapQuest   201      3            2016-02-08 05:46:00    2016-02-08 11:00:00   ...
A-2   MapQuest   201      2            2016-02-08 06:07:59    2016-02-08 06:37:59   ...
A-3   MapQuest   201      2            2016-02-08 06:49:27    2016-02-08 07:19:27   ...


d. Essay:
Road accidents can have devastating consequences on people's lives, leading to injuries, fatalities, and disruptions to traffic flow. Predicting the severity of road accidents is crucial in order to provide timely and efficient emergency response, ultimately reducing the number of casualties and minimizing traffic congestion.

Data scientists have been able to address this problem by leveraging the power of machine learning and data analysis techniques. By using a comprehensive dataset containing information about millions of road accidents in the United States, they have been able to identify patterns and relationships between different factors that influence the severity of accidents.

First, the dataset was preprocessed and cleaned to remove any inconsistencies or missing values. Next, exploratory data analysis was conducted to gain a better understanding of the data, identifying correlations and trends between different features, such as weather conditions, road conditions, and time of day. This information allowed the data scientists to select the most relevant features for building a predictive model. Once the relevant features were selected, several machine learning algorithms, such as decision trees, logistic regression, and random forests, were tested to find the best model for predicting accident severity. By training these models on a portion of the dataset and validating their performance on unseen data, the data scientists were able to assess the accuracy and reliability of each model. Ultimately, the best-performing model was chosen and fine-tuned to maximize its predictive capabilities. This model can now be used by emergency responders to anticipate the severity of road accidents in real-time, allowing them to allocate resources more effectively, potentially saving lives and reducing the impact of accidents on traffic flow.

In conclusion, data science has played a pivotal role in addressing the issue of road accident severity prediction. By harnessing the power of machine learning and data analysis, data scientists have been able to develop a valuable tool that can help save lives and minimize the disruption caused by road accidents.

Q7.

a. Distinctions between clean data and dirty data:

In fact, clean data refers to data that is accurate, consistent, and free of errors or anomalies. This data is well-formatted, correctly labeled, and ready for analysis. Dirty data, on the other hand, is data containing errors, inconsistencies, or missing values that can hinder the data analysis process and lead to inaccurate conclusions.

Handling method:

1. Impute missing values: Replace missing values with the mean, median, or mode of the data, or use more advanced techniques like k-nearest neighbors or regression imputation.
2. Remove duplicates: Identify and remove any duplicate records in the dataset.
3. Outlier detection and removal: Identify and remove outliers that may skew the analysis or negatively impact the performance of machine learning models.
4. Feature scaling: Standardize or normalize the features to ensure they are on a similar scale, which can improve the performance of some machine learning algorithms.
5. Data transformation: Apply transformations like logarithmic or power transformations to reduce the impact of noise or make the data more suitable for analysis.


b.

ID	 Name	         Street	 				City	 	 State	Zip	 	Hours
1	 Jacob Meltzer	 123 University Ave	 	Providence	 RI		2906	42
2	 Erin Bugbee	 245 Third St	 		Pawtucket	 RI		2860	30
3	 David Wang	     345 Broadway	 		Providence	 RI		2903	19
4	 Erin Bugbee	 245 Third St	 		Pawtucket	 RI		2860	29
5	 David Wang	 	 345 Broadway	 		Providence	 RI		2903	19
6	 Jacob Meltzer	 123 University Ave	 	Providence	 RI		2906	41
7	 Haomo Ni	     123 University Ave	 	Providence	 RI		2906	0



Standardized the city names ("PVD" to "Providence", "Providnce" to "Providence").
Standardized the street names ("3ra St" to "Third St", "University Ave" to "University Ave", "Broadway St" to "Broadway").
Fixed the state abbreviation for Rhode Island ("Rhode Island" to "RI").
Corrected the zip codes for records 2, 4, and 6.
Fixed the name of record 4 (E Bugbe to Erin Bugbee) and updated the hours to 29 (assuming it was a typo).
Removed the incorrect country from record 7 (Guyana).
Replaced NULL values with appropriate missing value indicators (e.g., np.nan in Python).

In [6]:
# Q8
# a
import re

text1 = "@A new era of twitter is going to start?!! Twitter will lead the tech world from now on.Yeah..!!"
cleaned_text = re.sub(r"[^a-zA-Z0-9\s\.]+", "", text1)

print(cleaned_text)

# b
import re

phone_numbers = [
    "(541) 471 3918",
    "(603)281-0308",
    "(814)-462-8074",
    "9704443106"
]

pattern = re.compile(r"\(?(\d{3})\)?[-\s]?(\d{3})[-\s]?(\d{4})")

for number in phone_numbers:
    match = pattern.match(number)
    if match:
        area_code, exchange, line_number = match.groups()
        print(f"Area Code: {area_code}, Exchange: {exchange}, Line Number: {line_number}")

A new era of twitter is going to start Twitter will lead the tech world from now on.Yeah..
Area Code: 541, Exchange: 471, Line Number: 3918
Area Code: 603, Exchange: 281, Line Number: 0308
Area Code: 814, Exchange: 462, Line Number: 8074
Area Code: 970, Exchange: 444, Line Number: 3106

In [7]:
# Q9
import pandas as pd
import numpy as np

CircleK_sales = pd.read_csv("sales_subset .csv")

# a
print(CircleK_sales.tail(7))

# b
print(CircleK_sales.info())

# c
print(CircleK_sales.describe())

# d
numpy_array = np.array(CircleK_sales)
print(numpy_array)

# e
CircleK_type = CircleK_sales.sort_values(by="type", ascending=False)
print(CircleK_type)


# f
circle_fuel_price = CircleK_sales[CircleK_sales["fuel_price_usd_per_l"] > 0.70]
print(circle_fuel_price)


# g
circle_type_hol = CircleK_sales[(CircleK_sales["type"] == "B") & (CircleK_sales["is_holiday"] == True)]
print(circle_type_hol)


# h
CircleK_sales["amount_of_sales(gallon)"] = CircleK_sales["weekly_sales"] / CircleK_sales["fuel_price_usd_per_l"]
print(CircleK_sales)


# i
high_sales = CircleK_sales[CircleK_sales["amount_of_sales(gallon)"] > 36000.0]
print(high_sales)

       Unnamed: 0  store type  department        date  weekly_sales  \
10767       10767     39    A          99  2011-08-19        622.00
10768       10768     39    A          99  2011-11-11         50.00
10769       10769     39    A          99  2011-12-09        895.00
10770       10770     39    A          99  2012-02-03        350.00
10771       10771     39    A          99  2012-06-08        450.00
10772       10772     39    A          99  2012-07-13          0.06
10773       10773     39    A          99  2012-10-05        915.00

       is_holiday  temperature_c  fuel_price_usd_per_l  unemployment
10767       False      31.072222              0.938868         8.177
10768       False      17.283333              0.870976         7.716
10769       False       9.644444              0.834256         7.716
10770       False      15.938889              0.887619         7.244
10771       False      27.288889              0.911922         6.989
10772       False      25.644444              0.860145         6.623
10773       False      22.250000              0.955511         6.228
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10774 entries, 0 to 10773
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            10774 non-null  int64
 1   store                 10774 non-null  int64
 2   type                  10774 non-null  object
 3   department            10774 non-null  int64
 4   date                  10774 non-null  object
 5   weekly_sales          10774 non-null  float64
 6   is_holiday            10774 non-null  bool
 7   temperature_c         10774 non-null  float64
 8   fuel_price_usd_per_l  10774 non-null  float64
 9   unemployment          10774 non-null  float64
dtypes: bool(1), float64(4), int64(3), object(2)
memory usage: 768.2+ KB
None
         Unnamed: 0         store    department   weekly_sales  temperature_c  \
count  10774.000000  10774.000000  10774.000000   10774.000000   10774.000000
mean    5386.500000     15.441897     45.218118   23843.950149      15.731978
std     3110.330234     11.534511     29.867779   30220.387557       9.922446
min        0.000000      1.000000      1.000000   -1098.000000      -8.366667
25%     2693.250000      4.000000     20.000000    3867.115000       7.583333
50%     5386.500000     13.000000     40.000000   12049.065000      16.966667
75%     8079.750000     20.000000     72.000000   32349.850000      24.166667
max    10773.000000     39.000000     99.000000  293966.050000      33.827778

       fuel_price_usd_per_l  unemployment
count          10774.000000  10774.000000
mean               0.749746      8.082009
std                0.059494      0.624355
min                0.664129      3.879000
25%                0.708246      7.795000
50%                0.743381      8.099000
75%                0.781421      8.360000
max                1.107674      9.765000
[[0 1 'A' ... 5.727777777777779 0.6794508388787476 8.106]
 [1 1 'A' ... 8.055555555555555 0.693451964252221 8.106]
 [2 1 'A' ... 16.81666666666667 0.718284148876872 7.808]
 ...
 [10771 39 'A' ... 27.28888888888889 0.911922354513778 6.989]
 [10772 39 'A' ... 25.64444444444444 0.8601446078496121 6.622999999999999]
 [10773 39 'A' ... 22.25 0.955510763695346 6.228]]
       Unnamed: 0  store type  department        date  weekly_sales  \
4379         4379     10    B          87  2010-06-04      19530.92
3976         3976     10    B          33  2011-01-07      10566.11
3974         3974     10    B          33  2010-11-05      12468.98
3973         3973     10    B          33  2010-10-01       8663.69
3972         3972     10    B          33  2010-09-03       9555.57
...           ...    ...  ...         ...         ...           ...
3291         3291      6    A          56  2010-06-04       7515.90
3292         3292      6    A          56  2010-07-02       4149.20
3293         3293      6    A          56  2010-08-06       1639.70
3294         3294      6    A          56  2010-09-03       2172.08
10773       10773     39    A          99  2012-10-05        915.00

       is_holiday  temperature_c  fuel_price_usd_per_l  unemployment
4379        False      28.233333              0.776930         9.524
3976        False       6.350000              0.868334         8.744
3974        False      21.688889              0.794894         9.003
3973        False      30.005556              0.792781         9.003
3972        False      28.777778              0.815500         9.199
...           ...            ...                   ...           ...
3291        False      26.355556              0.714586         7.092
3292        False      26.855556              0.705076         6.973
3293        False      30.338889              0.693980         6.973
3294        False      27.861111              0.680772         6.973
10773       False      22.250000              0.955511         6.228

[10774 rows x 10 columns]
       Unnamed: 0  store type  department        date  weekly_sales  \
2               2      1    A           1  2010-04-02      57258.43
3               3      1    A           1  2010-05-07      17413.94
4               4      1    A           1  2010-06-04      17558.09
5               5      1    A           1  2010-07-02      16333.14
9               9      1    A           1  2010-11-05      34238.88
...           ...    ...  ...         ...         ...           ...
10769       10769     39    A          99  2011-12-09        895.00
10770       10770     39    A          99  2012-02-03        350.00
10771       10771     39    A          99  2012-06-08        450.00
10772       10772     39    A          99  2012-07-13          0.06
10773       10773     39    A          99  2012-10-05        915.00

       is_holiday  temperature_c  fuel_price_usd_per_l  unemployment
2           False      16.816667              0.718284         7.808
3           False      22.527778              0.748928         7.808
4           False      27.050000              0.714586         7.808
5           False      27.172222              0.705076         7.787
9           False      14.855556              0.710359         7.838
...           ...            ...                   ...           ...
10769       False       9.644444              0.834256         7.716
10770       False      15.938889              0.887619         7.244
10771       False      27.288889              0.911922         6.989
10772       False      25.644444              0.860145         6.623
10773       False      22.250000              0.955511         6.228

[8671 rows x 10 columns]
      Unnamed: 0  store type  department        date  weekly_sales  \
4092        4092     10    B          45  2010-09-10         31.41
4295        4295     10    B          77  2011-11-25       1590.00

      is_holiday  temperature_c  fuel_price_usd_per_l  unemployment
4092        True      28.911111              0.782214         9.199
4295        True      15.933333              0.993287         7.874
       Unnamed: 0  store type  department        date  weekly_sales  \
0               0      1    A           1  2010-02-05      24924.50
1               1      1    A           1  2010-03-05      21827.90
2               2      1    A           1  2010-04-02      57258.43
3               3      1    A           1  2010-05-07      17413.94
4               4      1    A           1  2010-06-04      17558.09
...           ...    ...  ...         ...         ...           ...
10769       10769     39    A          99  2011-12-09        895.00
10770       10770     39    A          99  2012-02-03        350.00
10771       10771     39    A          99  2012-06-08        450.00
10772       10772     39    A          99  2012-07-13          0.06
10773       10773     39    A          99  2012-10-05        915.00

       is_holiday  temperature_c  fuel_price_usd_per_l  unemployment  \
0           False       5.727778              0.679451         8.106
1           False       8.055556              0.693452         8.106
2           False      16.816667              0.718284         7.808
3           False      22.527778              0.748928         7.808
4           False      27.050000              0.714586         7.808
...           ...            ...                   ...           ...
10769       False       9.644444              0.834256         7.716
10770       False      15.938889              0.887619         7.244
10771       False      27.288889              0.911922         6.989
10772       False      25.644444              0.860145         6.623
10773       False      22.250000              0.955511         6.228

       amount_of_sales(gallon)
0                 36683.301534
1                 31477.162262
2                 79715.569513
3                 23251.817501
4                 24571.005348
...                        ...
10769              1072.812524
10770               394.313542
10771               493.463065
10772                 0.069756
10773               957.603027

[10774 rows x 11 columns]
       Unnamed: 0  store type  department        date  weekly_sales  \
0               0      1    A           1  2010-02-05      24924.50
2               2      1    A           1  2010-04-02      57258.43
9               9      1    A           1  2010-11-05      34238.88
12             12      1    A           2  2010-02-05      50605.27
13             13      1    A           2  2010-03-05      48397.98
...           ...    ...  ...         ...         ...           ...
10732       10732     39    A          96  2010-07-02      30060.32
10733       10733     39    A          96  2010-08-06      26359.08
10734       10734     39    A          96  2010-09-03      26501.74
10735       10735     39    A          96  2010-10-01      25440.22
10746       10746     39    A          97  2010-09-03      26882.38

       is_holiday  temperature_c  fuel_price_usd_per_l  unemployment  \
0           False       5.727778              0.679451         8.106
2           False      16.816667              0.718284         7.808
9           False      14.855556              0.710359         7.838
12          False       5.727778              0.679451         8.106
13          False       8.055556              0.693452         8.106
...           ...            ...                   ...           ...
10732       False      27.416667              0.705076         8.360
10733       False      29.400000              0.693980         8.360
10734       False      27.850000              0.680772         8.360
10735       False      22.633333              0.687640         8.476
10746       False      27.850000              0.680772         8.360

       amount_of_sales(gallon)
0                 36683.301534
2                 79715.569513
9                 48199.404515
12                74479.663729
13                69792.837132
...                        ...
10732             42634.183564
10733             37982.460991
10734             38928.968418
10735             36996.413058
10746             39488.098594

[3146 rows x 11 columns]

In [8]:
# Q10
import pandas as pd
import re

def replace_values(value):
    value_str = str(value)
    
    if re.match(r'^\d+(\.\d+)?\s*-\s*\d+(\.\d+)?$', value_str):  # Numerical ranges
        return 'RANGE'
    elif re.match(r'^-\d+(\.\d+)?$', value_str):  # Negative numbers
        return 'NEG'
    elif re.match(r'^\d+\.\d+$', value_str):  # Floating numbers
        return 'FLOAT'
    elif re.match(r'^\d+$', value_str):  # Numbers
        return 'INT'
    elif re.match(r'^\d+(\.\d+)?%$', value_str):  # Percentages
        return 'PERCENT'
    elif re.match(r'^\d{1,2}-[a-zA-Z]{3}-\d{4}$', value_str) or re.match(r'^\d{1,2}\/\d{1,2}\/\d{4}$', value_str):  # Dates
        return 'DATE'
    else:
        # Replace numbers within a string
        value_str = re.sub(r'\d+(\.\d+)?', 'INT', value_str)
        return value_str


# load the dataset
allcovidtables = pd.read_csv('allcovidtables.csv')

# applying the replace_values function to all the elements in the DataFrame
processed_allcovidtables = allcovidtables.applymap(replace_values)

# save to the new CSV
processed_allcovidtables.to_csv('processed_allcovidtables.csv', index=False)