In [1]:
import pandas as pd

In [15]:
l1=['D1',19,12,4,6,0]
l2=['D2',0,2,0,0,14]
l3=['D3',8,0,3,12,0]
l4=['D4',0,5,10,0,1]
l5=['D5',0,0,0,0,4]
l6=['D6',4,19,2,6,0]

In [16]:

data=[l1,l2,l3,l4,l5,l6]

In [17]:
df = pd.DataFrame(data, columns=['Documents','Corona','Inflation','Trump','Lay off','Soccer'])
df

  Documents  Corona  Inflation  Trump  Lay off  Soccer
0        D1      19         12      4        6       0
1        D2       0          2      0        0      14
2        D3       8          0      3       12       0
3        D4       0          5     10        0       1
4        D5       0          0      0        0       4
5        D6       4         19      2        6       0

### ii) Find the cosine similarity between documents? Identify the two documents that are most similar

In [18]:
d1=[19,12,4,6,0]
d2=[0,2,0,0,14]
d3=[8,0,3,12,0]
d4=[0,5,10,0,1]
d5=[0,0,0,0,4]
d6=[4,19,2,6,0]

In [21]:
from numpy import dot
from numpy.linalg import norm

cos_sim = dot(d1, d2)/(norm(d1)*norm(d2))
print(cos_sim)
cos_sim = dot(d1, d3)/(norm(d1)*norm(d3))
print(cos_sim)
cos_sim = dot(d1, d4)/(norm(d1)*norm(d4))
print(cos_sim)
cos_sim = dot(d1, d5)/(norm(d1)*norm(d5))
print(cos_sim)
cos_sim = dot(d1, d6)/(norm(d1)*norm(d6))
print(cos_sim)

0.07190658212543756
0.6788198578471486
0.3774740752629962
0.0
0.7220771779832013

In [24]:
from numpy import dot
from numpy.linalg import norm


cos_sim = dot(d2, d3)/(norm(d2)*norm(d3))
print(cos_sim)
cos_sim = dot(d2, d4)/(norm(d2)*norm(d4))
print(cos_sim)
cos_sim = dot(d2, d5)/(norm(d2)*norm(d5))
print(cos_sim)
cos_sim = dot(d2, d6)/(norm(d2)*norm(d6))
print(cos_sim)

0.0
0.15118578920369088
0.9899494936611665
0.1315832386022443

In [25]:
from numpy import dot
from numpy.linalg import norm



cos_sim = dot(d3, d4)/(norm(d3)*norm(d4))
print(cos_sim)
cos_sim = dot(d3, d5)/(norm(d3)*norm(d5))
print(cos_sim)
cos_sim = dot(d3, d6)/(norm(d3)*norm(d6))
print(cos_sim)

0.181428752857415
0.0
0.36567459641634303

In [26]:

cos_sim = dot(d4, d5)/(norm(d4)*norm(d5))
print(cos_sim)
cos_sim = dot(d4, d6)/(norm(d4)*norm(d6))
print(cos_sim)

0.0890870806374748
0.5017005074597927

In [27]:
cos_sim = dot(d5, d6)/(norm(d5)*norm(d6))
print(cos_sim)

0.0